<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>聊天室</title>
<script src="/static/js/jquery.min.js"></script>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/rolling/css/rolling.css">
<link rel="stylesheet" href="/static/stylesheets/style.css">
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/rolling/js/rolling.js"></script>
</head>
<body id="body-room" class="room" >
    <div class="scrollbar-macosx">
        <div class="header">
            <div class="toptext">
                <a href="/home">
                    <span class="glyphicon glyphicon-arrow-left"></span> 返回大厅
                </a>
            </div>
            <div class="clapboard hidden"></div>
        </div>
    </div>
    <div id="mescroll" class="main container mescroll">
        <div class="col-md-12">
            <ul class="chat_info">
                <div id="log"></div>
            </ul>
        </div>
    </div>
    <div class="input">
        <form id="form">
            <div class="center">
                <div class="text">
                    <div class="col-xs-12 col-sm-12">
                        <input type="text" id="msg" style="width: 80%;" placeholder="输入聊天信息..."/>
                        <input type="submit" value="发送" style="width: 15%;" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

<script type="text/javascript">
    $(function() {
        uid="{{ .username }}";
        to_uid="{{ .roomId }}";
        function appendLog(msg) {
            var d = log[0]
            var doScroll = d.scrollTop == d.scrollHeight - d.clientHeight;
            msg.appendTo(log)
            if (doScroll) {
                d.scrollTop = d.scrollHeight - d.clientHeight;
            }
        }
        var conn;
        var msg = $("#msg");
        var log = $("#log");
        if(window.WebSocket) {
            conn = new WebSocket("wss://wuzuoda.xyz/ws?uid="+uid+"&to_uid="+to_uid);
            conn.onclose = function(evt) {
                    appendLog($("<div><b>连接关闭</b></div>"))
                }
            conn.onmessage = function(evt) {
                appendLog($("<div/>").text(evt.data))
            }
        }else {
            appendLog($("<div><b>浏览器不支持websockets</b></div>"))
        }
        $("#form").submit(function() {
            if (!conn) {
                return false;
            }
            if (!msg.val()) {
                return false;
            }
            var json = {"sender":uid,"recipient":to_uid,"content":msg.val()}; //创建对象；
            var jsonStr = JSON.stringify(json);       //转为JSON字符串
            conn.send(jsonStr);
            msg.val("");
            return false
        });
        // 滚动到底部
        $('.scrollbar-macosx.scroll-content.scroll-scrolly_visible').animate({
            scrollTop: $('.scrollbar-macosx.scroll-content.scroll-scrolly_visible').prop('scrollHeight')
        }, 500);
    });
</script>